body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    height: auto;
}

.content {
    display: flex;
    align-items: flex-start;
}

.inner {
    flex: 1;
    /* background-color: #f4e4ec; */
    /* padding: 20px; */
    margin-bottom: 25px;
    min-height: auto;
}

.footer {
    border-top: 2px solid rgb(212, 212, 212);

    text-align: center;
    padding: 10px 0;
}